<div class="w-full bg-neutral-900 flex items-center justify-between px-3 border-t border-neutral-800"
    style="height: 10vh">
    <div class="flex items-center w-1/4">

        <div class="bg-neutral-800 w-14 h-14 mr-4 flex items-center justify-center">
            <i *ngIf="!state.streamInfo" class="material-icons text-3xl">music_note</i>
            <img *ngIf="state.streamInfo" [src]="state.streamInfo?.songs[state.streamInfo?.index]?.thumbnail"
                class="w-full h-full" />
        </div>

        <div>
            <h1 class="mb-1 text-sm text-white tracking-wide">{{ state.streamInfo?.songs[state.streamInfo?.index]?.title
                }}</h1>
            <h2 class="text-xs tracking-wide">{{ state.streamInfo?.songs[state.streamInfo?.index]?.artist }}</h2>
        </div>
    </div>

    <div class="flex flex-col justify-center w-2/4 items-center">
        <div class="flex items-center">
            <button class="mx-2" disabled><i class="material-icons text-2xl opacity-30">shuffle</i></button>
            <button class="mx-2" (click)="previous()">
                <i class="material-icons text-3xl">skip_previous</i>
            </button>

            <button class="mx-2" (click)="play()" *ngIf="!state?.playing">
                <i class="material-icons text-4xl">play_circle_filled</i>
            </button>
            <button class="mx-2" (click)="pause()" *ngIf="state?.playing">
                <i class="material-icons text-4xl">pause_circle_filled</i>
            </button>

            <button class="mx-2" (click)="next()">
                <i class="material-icons text-3xl">skip_next</i>
            </button>
            <button class="mx-2" disabled><i class="material-icons text-2xl opacity-30">repeat</i></button>
        </div>

        <div class="w-3/4 flex items-center justify-center">
            <p class="text-xs mr-1">{{ state?.readableCurrentTime }}</p>
            <mat-slider min="0" step="1" [max]="state?.duration" [value]="state?.currentTime"
                (input)="onMediaSeed($event)"></mat-slider>
            <p class="text-xs ml-1">{{ state?.readableDuration }}</p>
        </div>
    </div>

    <div class="w-1/4 flex items-center justify-end">
        <i class="material-icons text-xl mr-1">volume_up</i>
        <div class="w-32">
            <mat-slider min="0" max="100" step="1" value="100" (input)="onVolumnChanged($event)"></mat-slider>
        </div>
    </div>
</div>