<div class="w-full grid gap-6 grid-cols-6" *ngIf="items.length > 0">
    <button class="w-48 h-64 relative group" *ngFor="let item of items">
        <!-- <div class="absolute w-full h-full flex items-end justify-end opacity-0 group-hover:opacity-100">
            <div class="rounded-full bg-green-500 h-12 w-12 flex items-center justify-center mb-24 mr-6">
                <i class="material-icons text-black text-3xl">play_arrow</i>
            </div>
        </div> -->
        <div class="w-full h-full bg-neutral-850 p-5 rounded-md shadow-md group-hover:bg-neutral-800"
            (click)="play(item)">
            <img [src]="item.thumbnail" class="h-36 w-full rounded-md shadow mb-4" />
            <p class="text-left text-base font-semibold text-white ">{{ item.name }}</p>
            <p class="text-left text-xs font-semibold text-neutral-400 " *ngIf="item.type!='playlist'">{{ item.description }}</p>
            <p class="text-left text-xs font-semibold text-neutral-400 " *ngIf="item.type=='playlist'">{{ shortAddress(item.creator) }}</p>
        </div>

        <div class="absolute bottom-2 right-0 z-50 " *ngIf="item.type=='song'">
            <button mat-icon-button [matMenuTriggerFor]="menu" (click)="selectItem(item)">
                <mat-icon>more_vert</mat-icon>
            </button>
        </div>
    </button>
</div>

<mat-menu #menu="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="playlistsmenu" *ngIf="playlists != null && playlists.length > 0">
        <mat-icon>library_add</mat-icon>
        <span>Add to playlist</span>
    </button>
    <button mat-menu-item>
        <mat-icon>share</mat-icon>
        <span>Share</span>
    </button>
</mat-menu>

<mat-menu #playlistsmenu="matMenu" >
    <button mat-menu-item *ngFor="let playlist of playlists" (click)="addToPlaylist(playlist)">{{playlist.name}}</button>
</mat-menu>