<!-- header -->
<div class="w-full sticky top-0 py-4 px-6 flex items-center justify-between">
    <div>
        <h1 class="text-2xl font-semibold">Upload</h1>
    </div>
    <div>
        <app-wallet></app-wallet>
    </div>
</div>



<div class="px-4 py-3">
    <div class="mb-6 w-3/4 ml-8 text-sm">
        <div class="flex">
            <div class="flex items-start h-52 w-52 mr-4">
                <img id="thumb" src="" class="w-full h-full shadow-md" (click)="thumbFile.click()" />

                <input #thumbFile type="file" (change)="onThumbFileChanged($event)" accept="image/*"
                    style="display: none" />
            </div>
            <div class="flex flex-col">
                <div>
                    <mat-form-field appearance="outline" color="accent" class="w-full">
                        <mat-label>Album Title</mat-label>
                        <input matInput placeholder="Title" [value]="album.title">
                    </mat-form-field>
                </div>
                <div class="flex">
                    <mat-form-field appearance="outline" color="accent" class="w-3/4 mr-2">
                        <mat-label> Artist</mat-label>
                        <input matInput placeholder="Artist" [value]="album.artist">
                    </mat-form-field>

                    <mat-form-field appearance="outline" color="accent" class="w-1/4">
                        <mat-label>Genre</mat-label>
                        <input matInput placeholder="Genre" [value]="album.genre">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="outline" color="accent" class="w-full">
                        <mat-label>Description</mat-label>
                        <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="3" cdkAutosizeMaxRows="5" [value]="album.description"></textarea>
                    </mat-form-field>
                </div>

            </div>
            <div class="flex items-end mb-3 ml-3">
                <button mat-flat-button color="accent" class="w-44" (click)="upload()">
                    <i class="material-icons h-6 w-6 mr-1">cloud_upload</i>
                    Upload Album
                </button>
            </div>
        </div>
    </div>

    <div class="px-4 py-3">
        <div class="flex p-2 text-center">
            <div class="w-72 px-2">#</div>
            <div class="w-96 px-2">Song Title</div>
            <div class="w-72 px-2">Artist</div>
            <div class="w-40 px-2">Price</div>
        </div>
        <div class="border-b border-neutral-800 mb-4"> </div>
        <div class="flex p-2 hover:bg-neutral-700 hover:rounded-sm text-sm"
            *ngFor="let song of album.songs; let i = index">

            <!-- <div class="w-12 flex items-center justify-center">
                {{i+1}}
            </div> -->

            <div class="flex flex-col w-72 px-2 items-center justify-center">
                <audio controls id="audio-{{i+1}}" class="w-full h-10 mr-4">
                    <source>
                </audio>
            </div>
            <div class="flex w-96 px-2 items-center justify-center ">
                <mat-form-field appearance="outline" color="accent" class="w-96">
                    <input matInput placeholder="Title" [value]="song.title" (change)='song.title=$event.target.value'>
                </mat-form-field>
            </div>
            <div class="flex w-72 px-2">
                <mat-form-field appearance="outline" color="accent" class="w-72" >
                    <input matInput placeholder="Artist" [value]="song.artist" (change)='song.artist=$event.target.value'>
                </mat-form-field>
            </div>
            <div class="flex w-40 px-2 items-center justify-center">
                {{song.price}}
            </div>
        </div>

        <div class="flex p-2 text-sm" *ngIf="album.songs.length > 0">
            <div class="flex w-72 px-2 ">
            </div>
            <div class="flex w-96 px-2">
            </div>
            <div class="flex w-72 px-2">
            </div>
            <div class="flex w-40 px-2 items-center justify-center">
                {{getTotalPrice()}}
            </div>
        </div>
    </div>

    <input #addAudioFile type="file" (change)="onAddAudioFileChanged($event)" accept="audio/*" style="display: none" />

    <!-- <div class="flex flex-col w-2/4">
        <div class="mb-8">
            <mat-toolbar class="flex items-center justify-between">
                <audio controls id="audio" class="w-full mr-4">
                    <source>
                </audio>

                <button mat-flat-button color="accent" (click)="audioFile.click()" class="w-32">
                    Browse...
                </button>
            </mat-toolbar>

            <input #audioFile type="file" (change)="onAudioFileChanged($event)" accept="audio/*"
                style="display: none" />
        </div>

        <div class="flex mb-8">
            <div class="mr-4" (click)="thumbFile.click()">
                <img id="thumb" class="w-36 h-36" />

                <input #thumbFile type="file" (change)="onThumbFileChanged($event)" accept="image/*"
                    style="display: none" />
            </div>
            <div class="w-full">
                <div class="mb-2">
                    <mat-form-field appearance="outline" color="accent" class="w-full">
                        <mat-label>Title</mat-label>
                        <input matInput placeholder="Title" [value]="uploadData.title">
                    </mat-form-field>
                </div>
                <div class="mb-2">
                    <mat-form-field appearance="outline" color="accent" class="w-full">
                        <mat-label>Artist</mat-label>
                        <input matInput placeholder="Artist" [value]="uploadData.artist">
                    </mat-form-field>
                </div>
            </div>
        </div>

        <div class="mb-4 flex items-center justify-end">
            <button mat-flat-button color="accent" class="w-32" (click)="upload()">Upload</button>
        </div>
    </div> -->

    <div class="px-4 py-3 flex items-end justify-start">
        <button class="w-36 bg-neutral-800 shadow rounded-full py-2 px-4 flex items-center justify-center text-sm"
            (click)="addAudioFile.click()">
            <i class="material-icons mr-2">queue</i>
            Add Song
        </button>
    </div>
</div>



<style>

</style>