<!-- header -->
<div class="w-full sticky top-0 py-4 px-6 flex items-center justify-between">
    <div class="flex">
        <button class="rounded px-4 py-2 mr-4" [ngClass]="{ 'bg-neutral-700': tab == 'songs' }"
            (click)="tab = 'songs'">Songs</button>
        <button class="rounded px-4 py-2 mr-4" [ngClass]="{ 'bg-neutral-700': tab == 'albums' }"
            (click)="tab = 'albums'">Albums</button>
        <button class="rounded px-4 py-2" [ngClass]="{ 'bg-neutral-700': tab == 'playlists' }"
            (click)="tab = 'playlists'">Playlists</button>
    </div>
    <div>
        <app-wallet #walletCompoment></app-wallet>
    </div>
</div>

<!-- content -->
<div class="overflow-y-scroll scrollbar-thin scrollbar-thumb-neutral-700 scrollbar-track-neutral-900"
    style="height: 80vh">
    <mat-progress-bar mode="indeterminate" color="accent" *ngIf="loading"></mat-progress-bar>

    <div *ngIf="!walletConnected">
        <div class="w-full mt-44 flex flex-col items-center justify-center">
            <div class="text-3xl font-semibold">Your wallet is not connected!</div>
            <button (click)="connectWallet()"
                class="w-48 bg-neutral-100 text-neutral-900 shadow rounded-full flex items-center justify-center mt-6 p-2">
                <i class="material-icons mr-2">account_balance_wallet</i>
                Connect Wallet
            </button>
        </div>
    </div>

    <div *ngIf="walletConnected">
        <!-- songs -->
        <div class="px-6 py-3" *ngIf="tab == 'songs'">
            <div class="mb-6">
                <h1 class="text-2xl font-semibold text-white">Songs</h1>
            </div>

            <app-data-grid [items]="songs" *ngIf="songs.length > 0"></app-data-grid>

            <div class="w-full mt-44 flex flex-col items-center justify-center" *ngIf="songs.length == 0">
                <div class="text-3xl font-semibold">Not Found</div>
                <button
                    class="w-40 bg-neutral-100 text-neutral-900 shadow rounded-full flex items-center justify-center mt-4 p-2">
                    <i class="material-icons mr-2">cloud_upload</i>
                    Upload
                </button>
            </div>
        </div>

        <!-- albums -->
        <div class="px-6 py-3" *ngIf="tab == 'albums'">
            <div class="mb-6">
                <h1 class="text-2xl font-semibold text-white">Albums</h1>
            </div>

            <app-data-grid [items]="albums" *ngIf="albums.length > 0"></app-data-grid>

            <div class="w-full mt-44 flex flex-col items-center justify-center" *ngIf="albums.length == 0">
                <div class="text-3xl font-semibold">Not Found</div>
                <button
                    class="w-40 bg-neutral-100 text-neutral-900 shadow rounded-full flex items-center justify-center mt-4 p-2">
                    <i class="material-icons mr-2">cloud_upload</i>
                    Upload
                </button>
            </div>
        </div>

        <!-- playlists -->
        <div class="px-6 py-3" *ngIf="tab == 'playlists'">
            <div class="mb-6">
                <h1 class="text-2xl font-semibold text-white">Playlists</h1>
            </div>
            <app-data-grid [items]="playlists" *ngIf="playlists.length > 0"></app-data-grid>

            <div class="w-full mt-44 flex flex-col items-center justify-center" *ngIf="playlists.length == 0">
                <div class="text-3xl font-semibold">Not Found</div>
                <button
                    class="w-40 bg-neutral-100 text-neutral-900 shadow rounded-full flex items-center justify-center mt-4 p-2">
                    <i class="material-icons mr-2">cloud_upload</i>
                    Upload
                </button>
            </div>
        </div>
    </div>

</div>